
.hello{
    font-size: 2.5rem;
    color: #18F071;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.flex_hobby{
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin: 1rem 20% 1rem 20%;
    justify-content: center;
    gap: 1rem;
}

.hobby_link{
    text-decoration: none;
    color: white;
    border-style: solid;
    border-color: transparent;
    font-size: 1.5rem;
    background-color: rgb(49, 49, 49);
    padding: 1.5rem;
    border-radius: 1.5rem;
    transition: border-color 0.25s;
}

.hobby_link:hover, .hobby_link:focus {
    border-color: #646cff;
  }
