/* main menu*/

.box{

  text-align: center;
  margin: 10% 10% 20% 10%;
  padding: 1rem;
  color: #18F071;
}
.hello{
  font-size: 1.8rem;
  color: #F41606;
  text-align: center;
}

p{
  font-size: 1.8rem;
}
.box2{
  text-align: center;
  margin: 0 30% 5rem 30%;
  padding: 1rem;
  
}
body{
  background-color: black;}