

header{
    font-size: 25px;
    margin: 0;
    padding: 1rem;
    font-family: "Press Start 2P", system-ui;
    background-image: url(https://t3.ftcdn.net/jpg/04/70/73/64/360_F_470736409_BjMO4XuHintvApcIyuJM7DR65rTfWdXQ.jpg);

}


/* main menu*/

.box{

  text-align: center;
  margin: 10% 10% 20% 10%;
  padding: 1rem;
  color: #18F071;
}
.hello{
  font-size: 20px;
  color: #F41606;
  text-align: center;
}

p{
  font-size: 2rem;
}
.box2{
  text-align: center;
  margin: 0 30% 5rem 30%;
  padding: 1rem;
  
}
body{
  background-color: black;}