/*All sites*/
html{
    font-size: 62.5%;
    background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 2.6vw;
    color: darkslategray;
    padding: 1vw 1vw 1vw 1vw;
    gap: 4vw;
    

}
#logo{
    width: 10rem;
    border-style: solid;
    transition: transform 0.2s ease;
    
    
}
#logo:hover{
    transform: scale(1.2);
}
footer{
    display: flex;
    background-color: white;
    margin: 55vh 0 0 0;
    padding: 1vw;
    gap: 2vw;
    
}
.my_social_media:hover{
    transform: scale(1.2);
}

span{
    margin: 4vw;
}

.menu{
    border-style: solid;
    border-color: rgb(30, 51, 51);
    padding: 0.5vw;
    color: darkslategray;
    text-decoration: none;
    align-content: center;
    transition: transform 0.2s ease;

}
.menu:hover{
    transform: scale(1.2)
}


h1{
    background-color: rgb(61, 102, 102);
    color: white;
    border-color: rgb(30, 51, 51);
    border-style: solid;
    font-size: 5rem;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    grid-column: 1/1;
    text-align: center;
}
.my_social_media{
    width: 8rem;
    align-items: center;
    transition: transform 0.2s ease;
}
.white_box{
    background-color: white;
}

/* Home */

.main_menu{
  margin: 2rem;
}
#introduction{
    font-size: 2.5rem;
    background-color: rgb(61, 102, 102);
    color: white;
    border-color: rgb(30, 51, 51);
    border-style: solid;
    grid-row: 2/3;
    margin-left: 20%;
    margin-right: 20%;
}


/* Hobby */
#js{
    object-fit: cover;
    width: 100%;
    height: 20vh;
    border-style: solid;
    border-color: rgb(30, 51, 51);
}
.hobbies{
    display: grid;
    background-color: darkslategray;
    height: 300px;
    margin-left: 70px;
    margin-right: 70px;
    justify-content: center;
    align-content: center;
    grid-template-areas: '';
    
}
.hobby_item{
    grid-row: 1/2;
    transition: transform 0.2s ease;
    
}
.hobby_item:hover{
    transform: scale(1.2);
}

.hobby_text{
    text-decoration: none;
    color: white;
    font-size: 4rem;
    border-style: solid;
    border-color: rgb(30, 51, 51);
    padding: 12rem 7rem 12rem 7rem;
    background-color: rgb(61, 102, 102);
    
}

/*Calculator*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
#calculator{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkslategray;
}

.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.display{
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 12px 10px;
    font-size: 25px;
    color: #000e1a;
    pointer-events: none;
}
.buttons button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
}
.buttons button:active{
    transform: scale(0.99);
}
.operator{
    color: #2f9fff;
}

/*Video Gallery*/
#video_gallery{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}


/*Source references*/
.sources{
    color: white;
    font-style: 10rem;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(61, 102, 102);
}


/*Favourites*/
.favourites{
    display: grid;
    background-color: darkslategray;
    height: 30rem;
    margin-left: 7rem;
    margin-right: 7rem;
    justify-content: center;
    align-content: center;
    grid-template-areas: '';
    
    
}

.favourite_item{
    grid-row: 1;
    transition: transform 0.2s ease;
}
.favourite_item:hover{
    transform: scale(1.2);
}

.box_text{
    text-decoration: none;
    color: white;
    font-size: 4rem;
    border-style: solid;
    border-color: rgb(30, 51, 51);
    padding: 12rem 7rem 12rem 7rem;
    background-color: rgb(61, 102, 102);
    margin: 0rem;
    
}

/*Music*/
.artists{
    display: flex;
    width: 100rem;
    gap: 3rem;
    flex-wrap: wrap;
    
}
.music_flex{
    display: flex;
    justify-content: center;
}
.some_artists{
    margin-bottom: 10rem;
}


/*Video Games*/
.game_posters{
    display: flex;
    justify-content: space-evenly;
    background-color: darkslategray;
}

.videogame_item{
    height: 30rem;
    background-color: darkslategray;
    transition: transform 0.2s ease;
}
.videogame_item:hover{
    transform: scale(1.2);
}