/*All sites*/
html{
    font-size: 62.5%;
    background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 2vw;
    color: darkslategray;
    padding: 0.5vw;
    gap: 1.5vw;
    min-height: 3em;
    
    

}
#logo{
    width: 5vw;
    border-style: solid;
    transition: transform 0.2s ease;
    
    
}
#logo:hover{
    transform: scale(1.2);
}
footer{
    display: flex;
    background-color: white;
    margin: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 5vw;
    gap: 1vw;
    
}
.my_social_media:hover{
    transform: scale(1.2);
}

span{
    margin: 4vw;
}

.menu{
    border-style: solid;
    border-color: rgb(30, 51, 51);
    padding: 0.2em;
    color: darkslategray;
    text-decoration: none;
    align-items: center;
    transition: transform 0.2s ease;

}
.menu:hover{
    transform: scale(1.2)
}


h1{
    background-color: rgb(61, 102, 102);
    color: white;
    border-color: rgb(30, 51, 51);
    border-style: solid;
    font-size: 2.5vw;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    grid-column: 1/1;
    text-align: center;
}

h2{
    background-color: rgb(61, 102, 102);
    color: white;
    border-color: rgb(30, 51, 51);
    border-style: solid;
    font-size: 2vw;
    margin-left: 10%;
    margin-right: 10%;
    grid-column: 1/1;
    text-align: center;

}

.my_social_media{
    width: 5vw;
    align-items: center;
    padding: 1vw;
    transition: transform 0.2s ease;
}
.white_box{
    background-color: white;
}

.explanation{
    text-align: center;
    background-color: rgb(61, 102, 102);
    border-style: solid;
    border-color: rgb(30, 51, 51);
    color: white;
    font-size: 1.5vw;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2em;
}
.white_border{
    background-color: white;
    border-style: solid;
    border-color: rgb(30, 51, 51);
    padding: 1vw;
    margin: 0 5% 0 5%;
    text-align: center;
}

/* Home */

.main_menu{
  margin: 2rem;
}
#introduction{
    font-size: 1.2vw;
    background-color: rgb(61, 102, 102);
    color: white;
    border-color: rgb(30, 51, 51);
    border-style: solid;
    grid-row: 2/3;
    margin-left: 20%;
    margin-right: 20%;
}


/* Hobby */

.hobbies{
    display: grid;
    background-color: darkslategray;
    height: 30em;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    align-content: center;
    grid-template-areas: '';
    
}
.hobby_item{
    grid-row: 1/2;
    transition: transform 0.2s ease;
    
}
.hobby_item:hover{
    transform: scale(1.2);
}

.hobby_text{
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
    border-style: solid;
    border-color: rgb(30, 51, 51);
    padding: 4vw;
    background-color: rgb(61, 102, 102);
    margin: 0rem;
    
}

/*Calculator*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
#calculator{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkslategray;
}

.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.display{
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 12px 10px;
    font-size: 25px;
    color: #000e1a;
    pointer-events: none;
}
.buttons button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
}
.buttons button:active{
    transform: scale(0.99);
}
.operator{
    color: #2f9fff;
}

/*Video Gallery*/
#video_gallery{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}

/*Programming*/

.coding_languages{
    background-color: rgb(61, 102, 102);
    border-style: solid;
    border-color: rgb(30, 51, 51);
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    margin: 1em 20% 1em 20%;
}

/*Reading*/
.book_genres{
    background-color: rgb(61, 102, 102);
    border-style: solid;
    border-color: rgb(30, 51, 51);
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    margin: 1em 20% 1em 20%;
}
.book_link{
    color: darkslategray;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(30, 51, 51);
    text-decoration: none;
    text-align: center;
    font-size: 2vw;
    padding: 0.3vw;
    transition: transform 0.2s ease;
}
.book_link:hover{
    transform: scale(1.2);
}

/*Source references*/
.sources{
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    transition: transform 0.2s ease;
}


.sources:hover{
    transform: scale(1.2);
}


.source_block{
    border-style: solid;
    border-color: rgb(30, 51, 51);
    background-color: rgb(61, 102, 102);
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}
    
table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    color: white;
    margin-top: 3em;
    text-align: center;
}



/*Favourites*/
.favourites{
    display: grid;
    background-color: darkslategray;
    height: 30em;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    align-content: center;
    grid-template-areas: '';
    
    
}

.favourite_item{
    grid-row: 1;
    transition: transform 0.2s ease;
}
.favourite_item:hover{
    transform: scale(1.2);
}

.box_text{
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
    border-style: solid;
    border-color: rgb(30, 51, 51);
    padding: 4vw;
    background-color: rgb(61, 102, 102);
    margin: 0rem;
    
}

/*Music*/
.artists{
    display: flex;
    width: 50vw;
    gap: 3rem;
    flex-wrap: wrap;
    
}
.music_flex{
    display: flex;
    justify-content: center;
}
.some_artists{
    margin-bottom: 10rem;
}


/*Video Games*/
.game_posters{
    display: flex;
    justify-content: center;
    gap: 2em;
    background-color: darkslategray;
}

.videogame_item{
    height: 15vw;
    background-color: darkslategray;
    transition: transform 0.2s ease;
}
.videogame_item:hover{
    transform: scale(1.2);
}
.flex_container_games{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    
}

    

}

/*Piano*/
.piano{
    width: 100%;
    aspect-ratio: 10/1;
    object-fit: cover;
}

.classical_bangers{
   margin-top: 1rem;
   
}
.under_title{
    margin-top: 5rem;
}

/*Movies*/
.movie_posters{
    display: flex;
    justify-content: center;
    gap: 3em;
    background-color: darkslategray;
}
.movie_item{
    height: 15vw;
    background-color: darkslategray;
    transition: transform 0.2s ease;
}
.movie_item:hover{
    transform: scale(1.2);
}

/*Series*/
.series_posters{
    display: flex;
    justify-content: center;
    gap: 3em;
    background-color: darkslategray;
}
.series_item{
    height: 15vw;
    background-color: darkslategray;
    transition: transform 0.2s ease;
}
.series_item:hover{
    transform: scale(1.2);
}

/*Books*/
.book_posters{
    display: flex;
    justify-content: center;
    gap: 3em;
    background-color: darkslategray;
}
.book_item{
    height: 15vw;
    background-color: darkslategray;
    transition: transform 0.2s ease;
}
.book_item:hover{
    transform: scale(1.2);
}