
main{
    background-color: black;
    padding: 1rem;
}
#person{
    margin-top: 1rem;
}

#text{
    margin-top: 1rem;
}

input{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-style: solid;
    border-color: transparent;
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

input:focus{
    outline: none;
    border-color: #646cff;
    background-color: rgb(49, 49, 49);
    color: white;
}

.input-grid button{
    font-size: 16px;
    padding: 0.5rem;
    background-color: rgb(49, 49, 49);
    border-style: solid;
    border-color: transparent;
    color: white;
    margin-top: 1rem;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.input-grid button:hover{
    border-color: #646cff;
    transition: border-color 0.25s;
}



.threads{
    color: white;
    font-size: 1.5rem;
    margin: 2rem 10% 0 10%;
    padding: 1rem;
    border-radius: 1.5rem;

}
#outputs{
    display: flex;
    justify-content: flex-start;
    

}

.input-grid{
    display: flex;
    padding: 1rem;
    align-content: center;
    flex-wrap: wrap;
    font-size: 1rem;
    gap: 0.5rem;
    justify-content: center;
    background-color: black;
}
footer{
    text-align: center;
}
#arr{
    padding: 1rem;
    margin: 1rem;
}

#thread_header{
    color: #18F071;
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem;
    will-change: filter;
    transition: filter 300ms;
    user-select: none;
  }
  #thread_header:hover {
    filter: drop-shadow(0 0 1em #646cff);
  }


