html{
    font-size: 62.5%;
    font-family: "Press Start 2P", system-ui;
    margin: 0;
}
body{
    margin: 0;
        background-image: url(https://t3.ftcdn.net/jpg/04/70/73/64/360_F_470736409_BjMO4XuHintvApcIyuJM7DR65rTfWdXQ.jpg);

}

.menu1{ grid-area: numbo;}
.menu2{ grid-area: log_in;}
.menu3{ grid-area: sign_in;}

.grid_menu{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    justify-content: center;
    background-image: url(https://t3.ftcdn.net/jpg/04/70/73/64/360_F_470736409_BjMO4XuHintvApcIyuJM7DR65rTfWdXQ.jpg);
    color: white;
}
.menu1{
    font-size: 25px;
    padding: 1rem;
}
.menu2{
    font-size: 25px;
    align-self: center;
    color: #18F071;
    justify-self: flex-end;

}
.menu3{
    font-size: 25px;
    align-self: center;
    color: #F41606;
    justify-self: flex-end;
}
main{
    text-align: center;
}
.new{
    color: white;
    font-size: 16px;
}

#person{
    margin-top: 1rem;
}

#text{
    margin-top: 1rem;
}

input{
    font-size: 16px;
    padding: 0.5rem;
    border-style: solid;
    border-color: black;
    font-family: "Press Start 2P", system-ui;
}
button{
    font-size: 16px;
    padding: 0.5rem;
    background-color: white;
    border-style: solid;
    border-color: black;
    color: black;
    margin-top: 1rem;
    font-family: "Press Start 2P", system-ui;
}



.threads{
    color: #5d109c;
    font-size: 16px;
    margin: 2rem 10% 0 10%;
    padding: 1rem;
    background-color: white;
}
#outputs{
    display: flex;
    justify-content: flex-start;
    

}
main{
    background-color: white;
    padding: 1rem;
}
.input-grid{
    display: flex;
    padding: 1rem;
    align-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    justify-content: center;
}
footer{
    text-align: center;
}
#arr{
    padding: 1rem;
    margin: 1rem;
    font-size: 16px;
}
